html {
    font-size: 5vw;
}

body {
    background: #060606;
    color: white;
    font-family: 'DisposableDroid BB';
    font-size: 1.15rem;
}

::selection {
    background: #FF0987;
    color: whitesmoke;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 1.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: #00F4FF;
    text-shadow: 0 0 .3rem #00f4ffcc;
    font-family: 'Karmatic Arcade';
}

.divider {
    width: 100%;
    background: #2F2F2F;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    user-select: none;
}

.horizontal-line {
    height: 0.86rem;
    filter: drop-shadow(0 0 1rem #ffffff80);
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.85rem;
}

.title {
    color: #FF0987;
    text-shadow: 0 0 0.15rem #FF0987;
    font-size: 1.4rem;
}

.block__title {
    margin-bottom: 1.85rem;
}

.works {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.15rem;
    gap: .65rem;
    grid-auto-flow: dense;
    margin-bottom: 1rem;
    user-select: none;
}

.works__img {
    width: 100%;
    image-rendering: pixelated;
}

.works__link {
    display: flex;
    justify-content: center;
    align-self: center;
    border: .1rem solid #c700ef;
    border-image: linear-gradient(to right, #FF0987, #8F00EF) 1;
}

.works__link>span {
    padding: 0 .8rem;
    text-align: center;
    color: #c700ef;
    background: linear-gradient(to right, #FF0987, #8F00EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.works__link, .works__link>span {
    transition: .4s ease-out;
}

.works__link:hover {
    border-color: white;
    border-image: none;
}

.works__link:hover>span {
    -webkit-text-fill-color: unset;
    color: white;
}

.block__more-link {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5rem;
    padding: .3rem .5rem;
    background: #C53FA2 linear-gradient(90deg, #ff0a89 0%, #00F4FF 100%);
    color: #060606;
    transition: .2s ease-out;
    user-select: none;
    margin-bottom: 1rem;
}

.block__more-link:hover {
    box-shadow: 0 0 .3rem #C53FA2;
}

.more-link__img {
    height: 0.85rem;
}

.techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tech {
    display: flex;
    align-items: baseline;
    margin-right: .7rem;
    display: flex;
    width: fit-content;
}

.tech__icon {
    margin-right: .2rem;
    background: url('../images/star.svg');
    background-size: contain;
    width: .6rem;
    height: .6rem;
}

.contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contact__avatar {
    height: 7.15rem;
    image-rendering: pixelated;
}

.contacts-text__title {
    margin-top: .7rem;
    margin-top: .5rem;
}

.footer {
    width: 100%;
    background: #2F2F2F;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    height: 2rem;
    user-select: none;
}

.footer__image {
    height: 1rem;
    filter: drop-shadow(0 0 1rem #ffffff80);
}

.block__special-message {
    font-size: .8rem;
    width: 70%;
}

.special-message {
    text-align: center;
}


@media (min-width: 640px) {
    html {
        font-size: 3vw;
    }

    .container {
        margin: 1.85rem auto;
        max-width: 60vw;
    }
}